
.flex {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 492px;
  padding-left: 30px; }

.title {
  margin-left: -9px;
  font-size: 18px;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.li_flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #F6F7F8;
  padding-right: 20px; }

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 10px; 
  font-size: 20px;
}

.li_flex > .first > .btns {
  margin-left: 287px;
 }

.btns {
  display: flex;
  align-items: center;
  margin-left: 280px; }

button {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer; }

.free > p {
  color: #787878; }

.text {
  margin-top: 15px; }

.plus, .minus {
  margin-top: 2px; }

.add {
  background-color: red;
  width: 176px;
  height: 65px;
  border-radius: 100px;
  padding: 20px, 24px, 20px, 24px; }

.free {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.price_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 110px; 
  margin-left: -95px;
}

.price_button > p {
  margin-left: 420px;
  font-size: 32px;
}

.full_price {
  size: 32px;
}

hr {
  border: solid #E6E6E6 1px;
  padding-left: 491px; }

.price_souce {
  margin-left: 80px;
  padding-right: -5px;
  color: #787878;
  position: absolute; }

.first > .price_souce {
  margin-left: 72px;
  position: absolute; }

.food {
  width: 348px;
  height: 298px;
  border-radius: 25px;
  margin-top: -80px;
}

.flex_calories {
  display: flex;
  color: #787878;
  flex-direction: column;
  position: absolute;
  margin-left: -320px;
  margin-top: 5px;
  font-size: 20px;
}

.KB {
  margin-left: -300px;
  margin-top: 250px;
}

.li_calories {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  margin-left: -40px;
}
.header {
  position: absolute;
  margin-top: -80px;
  margin-left: -15px;
  font-size: 24px;
}

.gramm {
  position: absolute;
  margin-top: -40px;
  margin-left: -90px;
  font-size: 18px;
  color: #787878;
}
